@import 'styles/spectate';

// @import 'styles/news-ellipsis';

.charts-container {
  display: flex;
  justify-content: center;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container > svg {
  transform: rotate(-45deg);
}

.subject-title {
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
}
