@import 'styles/spectate';

// @import 'styles/news-ellipsis';

.charts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container > svg {
  transform: rotate(-45deg);
}

.subject-title {
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
}

path.domain {
  display: none;
}

g.x-axis, g.y-axis {
  shape-rendering: crispEdges;
}

g.tick {
  line {
    stroke: #ccc;
  }

  text {
    font-family: Roboto;
    font-size: 12px;
    fill: #999;
  }
}

g.x-axis > g.tick > text {
  text-anchor: start;
  transform:  translate(3px, 3px) rotate(45deg);
}

g.x-axis > g.tick:nth-child(2) > text {
  transform: rotate(45deg) translate(-2px);
}

g.y-axis > g.tick > text {
  text-anchor: end;
  transform: translate(-3px, -3px) rotate(45deg);
}

g.y-axis > g.tick:nth-child(2) > text {
  display: none;
}

g.circles > circle {
  fill: red;
}

#circle-highlight {
  stroke-width: 2px;
  stroke: #111;
  fill: none;
  transition: opacity .2s;
}

/* Tooltip */

#tooltip {
  position: fixed;
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid lightgray;
  pointer-events: none;
  width: 190px;
  transition: opacity .2s;

  font-family: $georgia;

  p {
    margin: 0;
    line-height: 1.3;
  }
}

/* Bar charts */

.bars-container {
  max-width: 600px;
  margin: 0 auto;
}

.bar-chart-container {
  display: grid;
  grid-auto-rows: 19px;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.bar-container {
  display: flex;
}

.bar {
  background: blue;
  box-sizing: border-box;
  border: 0 solid black;
}

.bar-label {
  text-align: right;
  margin: 0;
  transition-duration: 0.2s;
  font-family: Roboto;
  // font-weight: bold;
  font-size: 14px;
}

.bar-number-label {
  margin: 0;
  transition-duration: 0.2s;
  width: 0;
  font-family: Roboto;
  font-size: 12px;
}

// .bar:hover + .bar-label {
  // opacity: 1;
// }